:root{
  --vbm-color: #967029;
  --body-background: #111111;
}

a {
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: DrukWideBold;
  src: url('../public/fonts/Druk\ Wide\ Bold.ttf');
}

@font-face {
  font-family: Avenir-Roman;
  src: url('../public/fonts/Avenir-Roman.ttf');
}

html {
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: 0;
}

section {
  /* height: 100svh; */
  width: 100svw;
}

body {
  min-height: 100vh;
  background-color: var(--body-background);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
}
.modal-content{
  display: flex;
  align-items: center;
}
.modal-content2{
  display: flex;
   
  position: relative;
}
.appointo-product-name{
   
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.25px;
}
.appointo-location {
  margin-top: 15px;
  
   
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  display: flex;
}
.react-calendar{
  width: 100% !important;
  border-radius: 20px !important;
  padding: 10px;

}
.react-calendar__navigation__arrow .react-calendar__navigation__prev2-button{
  display: none !important;
}


.available-slots{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #967029;
  border: 1px solid #967029;
  border-radius: 10px;
  min-height: 44px;
  flex: 1;
  cursor: pointer;
  width: 100%;
  
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 10px;
}
.react-calendar__month-view__days__day--weekend{
  color: #967029 !important;

}
.react-calendar__month-view__weekdays{
  text-decoration: none !important;
  color: #967029 !important;

}
.react-calendar__tile--active{
  background-color: #967029 !important;
  color: white !important;
  border-radius: 10px !important;
}
.react-calendar__tile--now{
  background-color: #e6e6e6 !important;
  color: black !important;
  border-radius: 10px !important;
}
.active-time{
  background-color: #967029;
  color: white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width:500px; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

.col-6{
  max-width: 50%;
  width: 100%;
  padding: 30px 30px;
}
.col-62{
  max-width: 50%;
  width: 100%;
   
}
@media(max-width:776px){
  .modal-content,.modal-content2{
    flex-direction: column;
    
    
  }
  .modal-content{
  gap: 20px;
  }
  .col-62{
    max-width: 100%;
    width: 100%;
     
  }
  .col-6{
    max-width: 100%;
    width: 100%;
    padding: 10px 30px;
    /* overflow: scroll;
    height: 400px; */
  }
}
 
  /* Show desktop icon */
  .desktop-icon {
    display: block !important;
  }
  /* Hide mobile icon */
  .mobile-icon {
    display: none;
  }
@media (max-width: 767px) {
  /* Show mobile icon */
  .mobile-icon {
    display: block;
  }
  /* Hide desktop icon */
  .desktop-icon {
    display: none;
  }
}

